<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
=======
>>>>>>> f5f260ce8d40198e76bed07502c1491d1329f631
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-theme-color:#A232F0;
}
